<!-- Courses-->
<section class="page-section" id="courses">
   <div class="container">
      <div class="text-center">
         <h2 class="section-heading text-uppercase">Cursos</h2>
         <h3 class="section-subheading text-muted">Quantidade de cursos: {{obterCursos().length}}</h3>
      </div>
      <div>
         Filtrar por instituição do curso:
      </div>

      <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
         <input type="radio" class="btn-check" name="btnradio2" id="btnradio12" autocomplete="off"
            (click)="AtualizaFiltro('')" checked>
         <label class="btn btn-outline-primary" for="btnradio12">Todas</label>

         <input type="radio" class="btn-check" name="btnradio2" id="btnradio22" autocomplete="off"
            (click)="AtualizaFiltro('Alura')">
         <label class="btn btn-outline-primary" for="btnradio22">Alura</label>

         <input type="radio" class="btn-check" name="btnradio2" id="btnradio32" autocomplete="off"
            (click)="AtualizaFiltro('Desenvolvedor.io')">
         <label class="btn btn-outline-primary" for="btnradio32">Desenvolvedor.io</label>

         <input type="radio" class="btn-check" name="btnradio2" id="btnradio42" autocomplete="off"
            (click)="AtualizaFiltro('Udemy')">
         <label class="btn btn-outline-primary" for="btnradio42">Udemy</label>
      </div>

      <hr>
      <div class="row">
         <div class="col-md-12 col-lg-12">
            <div id="tracking">
               <div class="tracking-list">
                  <div *ngFor="let item of obterCursos() | paginate: config; let i = index" class="tracking-item">
                     <div class="tracking-icon status-intransit">
                        <div class="timeline-image" [ngSwitch]="item.institution">
                           <span>
                              <img *ngSwitchCase="'Alura'" [width]="iconSize" [height]="iconSize"
                                 class="rounded-circle img-fluid" src="assets/img/alura.jpg" alt="..." />
                              <img *ngSwitchCase="'Desenvolvedor.io'" [width]="iconSize" [height]="iconSize"
                                 class="rounded-circle img-fluid" src="assets/img/desenvolvedorio.jpg" alt="..." />
                              <img *ngSwitchCase="'Udemy'" [width]="iconSize" [height]="iconSize"
                                 class="rounded-circle img-fluid" src="assets/img/udemy.png" alt="..." />
                              <img *ngSwitchDefault [width]="iconSize" [height]="iconSize"
                                 class="rounded-circle img-fluid" src="assets/img/globo.png" alt="..." />
                              <span
                                 class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">{{absoluteIndex(i)}}</span>
                           </span>
                        </div>
                        <!-- <i class="fas fa-circle"></i> -->
                     </div>
                     <!-- <div class="tracking-date">{{item.conclusion | date: 'MMMM, yyyy':'America/Sao_Paulo':'pt-BR'}}</div> -->
                     <div class="tracking-date">{{item.conclusion | date: 'MMMM, yyyy'}}</div>
                     <div class="tracking-content">{{item.name | uppercase}}<span>{{item.institution | titlecase }} - <a
                              [href]="item.certificateUri" target="_blank">Certificado</a></span></div>
                  </div>
               </div>
            </div>

            <div class="text-center">
               <pagination-controls id="{{config.id}}" [maxSize]="12" (pageChange)="config.currentPage = $event"
                  previousLabel="Anterior" nextLabel="Próximo"></pagination-controls>
            </div>

         </div>
      </div>
   </div>
</section>