<!-- Courses-->
<section [ngClass]="{'bg-light': bgcolor}" class="page-section" id="bookread">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">Leituras</h2>
      <h3 class="section-subheading text-muted">Quantidade de livros: {{obterLivros().length}}</h3>
    </div>
    <div class="text-center">
      <div style="height: 2rem;">
        Filtrar por <b>AUTOR</b> do livro:
      </div>
      <div aria-label="Basic radio toggle button group" class="col-md-12 col-lg-12" role="group">
        <input (click)="AtualizaFiltro('')" autocomplete="off" checked class="btn-check"
               gaAction="click_filtro_bookread_todos"
               gaCategory="ga_bookread" gaEvent id="00-BookreadComponent" name="btnradio-BookreadComponent"
               type="radio">
        <label class="btn btn-primary btn-sm" style="width: max-content; height: 2rem; margin: .1rem;" for="00-BookreadComponent">Excluir filtro</label>

        <ng-template [ngForOf]="obterAutores()" let-i="index" let-item ngFor>
          <input (click)="AtualizaFiltro(item)" autocomplete="off" class="btn-check"
                 gaAction="click_filtro_bookread_{{item}}"
                 gaCategory="ga_bookread" gaEvent id="{{i+1}}-BookreadComponent"
                 name="btnradio-BookreadComponent"
                 type="radio">
          <label class="btn btn-light btn-sm" for="{{i+1}}-BookreadComponent" style="width: max-content; height: 2rem; margin: .1rem;">{{item | titlecase}}</label>
        </ng-template>
      </div>
    </div>

    <br>
    <div class="text-center">
      <div style="height: 2rem;">
        Filtrar por <b>TAG</b> do livro:
      </div>
      <div aria-label="Basic radio toggle button group" class="col-md-12 col-lg-12" role="group">
        <input (click)="AtualizaFiltroCategoria('')" autocomplete="off" checked class="btn-check"
               gaAction="click_filtro_bookread_category_todos"
               gaCategory="ga_categoriasbookread" gaEvent id="00-BookreadCategoryComponent"
               name="btnradio-BookreadCategoryComponent" type="radio">
        <label class="btn btn-warning btn-sm" for="00-BookreadCategoryComponent"
               style="width: auto; height: 2rem; margin: .1rem;">Excluir filtro</label>

        <ng-template [ngForOf]="obterCategorias()" let-i="index" let-item ngFor>
          <input (click)="AtualizaFiltroCategoria(item)" autocomplete="off" class="btn-check"
                 gaAction="click_filtro_bookread_category_{{item}}"
                 gaCategory="ga_categoriasbookread" gaEvent id="{{i+1}}-BookreadCategoryComponent"
                 name="btnradio-BookreadCategoryComponent"
                 type="radio">
          <label class="btn btn-light btn-sm" for="{{i+1}}-BookreadCategoryComponent"
                 style="width: max-content; height: 2rem; margin: .1rem;">{{item | lowercase}}</label>
        </ng-template>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-12 col-lg-12">
        <div id="tracking-pre"></div>
        <div id="tracking">
          <div class="tracking-list">
            <div *ngFor="let item of obterLivros() | paginate: config; let i = index" [attr.data-index]="i"
                 class="tracking-item">
              <div class="tracking-icon status-intransit">
                <div [ngSwitch]="item.title" class="timeline-image">
                           <span>
                              <img *ngSwitchCase="'Alura'" [height]="iconSize" [width]="iconSize"
                                   alt="..." class="rounded-circle img-fluid" src="assets/img/alura.jpg"/>
                              <img *ngSwitchCase="'Desenvolvedor.io'" [height]="iconSize" [width]="iconSize"
                                   alt="..." class="rounded-circle img-fluid" src="assets/img/desenvolvedorio.jpg"/>
                              <img *ngSwitchCase="'Udemy'" [height]="iconSize" [width]="iconSize"
                                   alt="..." class="rounded-circle img-fluid" src="assets/img/udemy.png"/>
                              <img *ngSwitchDefault [height]="iconSize" [width]="iconSize"
                                   alt="..." class="rounded-circle img-fluid" src="assets/img/livro.png"/>
                              <span
                                class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">{{absoluteIndex(i)}}</span>
                           </span>
                </div>
              </div>
              <!-- <div class="tracking-date">{{item.conclusion | date: 'MMMM, yyyy':'America/Sao_Paulo':'pt-BR'}}</div> -->
              <div class="tracking-date">{{item.yearPublish}}</div>
              <div class="tracking-content">{{item.title| uppercase}}
                <ng-template [ngIf]="item.subtitle.trim() != ''"><span><b>Subtitulo:</b> {{item.subtitle}}</span></ng-template>
                <ng-template [ngIf]="item.editor.trim() != ''"><span><b>Editora:</b> {{item.editor}}</span></ng-template>
                <span><b>Tags:</b> <ng-template ngFor [ngForOf]="item.tags" let-tag let-ii="index">
                {{tag}} <ng-template [ngIf]="ii < item.tags.length - 1"> - </ng-template>
              </ng-template></span><span><b>Autor(es):</b> <ng-template ngFor [ngForOf]="item.author" let-author let-ii="index">
              {{author | titlecase}} <ng-template [ngIf]="ii < item.author.length - 1"> - </ng-template>
              </ng-template> - <a
                [href]="item.uri" gaAction="click_certificado_{{item.author}}" gaCategory="ga_bookread"
                gaEvent target="_blank">detalhe</a></span></div>
            </div>
            <hr>

            <div class="d-flex justify-content-center">
              <ngb-pagination [(page)]="config.currentPage" [boundaryLinks]="true"
                              [collectionSize]="obterLivros().length" [ellipses]="true" [maxSize]="4"
                              [pageSize]="config.itemsPerPage"
                              [rotate]="true">
              </ngb-pagination>
              <!--<pagination-controls id="{{config.id}}" [maxSize]="12" (pageChange)="config.currentPage = $event" previousLabel="Anterior" nextLabel="Próximo"></pagination-controls>-->
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

</section>
