<!-- Courses-->
<section class="page-section" [ngClass]="{'bg-light': bgcolor}" id="coursesformation">
   <div class="container">
      <div class="text-center">
         <h2 class="section-heading text-uppercase">Cursos de Formação</h2>
         <h3 class="section-subheading text-muted">Quantidade de cursos: {{obterCursos().length}}</h3>
      </div>
      <div class="text-center">
         <div>
            Filtrar por instituição do curso:
         </div>
         <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
            <input type="radio" class="btn-check" name="btnradio1" id="btnradio11" autocomplete="off" gaEvent gaAction="click_filtro_courseformation_todos" gaCategory="ga_cursosdeformacao"
               (click)="AtualizaFiltro('')" checked>
            <label class="btn btn-outline-primary" for="btnradio11">Todas</label>

            <input type="radio" class="btn-check" name="btnradio1" id="btnradio21" autocomplete="off" gaEvent gaAction="click_filtro_courseformation_alura" gaCategory="ga_cursosdeformacao"
               (click)="AtualizaFiltro('Alura')">
            <label class="btn btn-outline-primary" for="btnradio21">Alura</label>

            <input type="radio" class="btn-check" name="btnradio1" id="btnradio31" autocomplete="off" gaEvent gaAction="click_filtro_courseformation_desenvolvedorio" gaCategory="ga_cursosdeformacao"
               (click)="AtualizaFiltro('Desenvolvedor.io')">
            <label class="btn btn-outline-primary" for="btnradio31">Desenvolvedor.io</label>

            <input type="radio" class="btn-check" name="btnradio1" id="btnradio41" autocomplete="off" gaEvent gaAction="click_filtro_courseformation_udemy" gaCategory="ga_cursosdeformacao"
               (click)="AtualizaFiltro('Udemy')">
            <label class="btn btn-outline-primary" for="btnradio41">Udemy</label>
         </div>
      </div>

      <hr>
      <div class="row">

         <div class="col-md-12 col-lg-12">
            <div id="tracking-pre"></div>
            <div id="tracking">
               <div class="tracking-list">
                  <div *ngFor="let item of obterCursos() | paginate: config; let i = index" [attr.data-index]="i"
                     class="tracking-item">
                     <div class="tracking-icon status-intransit">
                        <div class="timeline-image" [ngSwitch]="item.institution">
                           <span>
                              <img *ngSwitchCase="'Alura'" [width]="iconSize" [height]="iconSize"
                                 class="rounded-circle img-fluid" src="assets/img/alura.jpg" alt="..." />
                              <img *ngSwitchCase="'Desenvolvedor.io'" [width]="iconSize" [height]="iconSize"
                                 class="rounded-circle img-fluid" src="assets/img/desenvolvedorio.jpg" alt="..." />
                              <img *ngSwitchCase="'Udemy'" [width]="iconSize" [height]="iconSize"
                                 class="rounded-circle img-fluid" src="assets/img/udemy.png" alt="..." />
                              <img *ngSwitchDefault [width]="iconSize" [height]="iconSize"
                                 class="rounded-circle img-fluid" src="assets/img/globo.png" alt="..." />
                              <span
                                 class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">{{absoluteIndex(i)}}</span>
                           </span>
                        </div>
                     </div>
                     <!-- <div class="tracking-date">{{item.conclusion | date: 'MMMM, yyyy':'America/Sao_Paulo':'pt-BR'}}</div> -->
                     <div class="tracking-date">{{item.conclusion | date: 'MMMM, yyyy'}}</div>
                     <div class="tracking-content">{{item.name | uppercase}}<span>{{item.institution | titlecase }} - <a gaEvent gaAction="click_certificado_{{item.name}}" gaCategory="ga_cursosdeformacao"
                              [href]="item.certificateUri" target="_blank">Certificado</a></span></div>
                  </div>
                  <hr>
                  <div class="text-center">

                     <pagination-controls id="{{config.id}}" [maxSize]="12" (pageChange)="config.currentPage = $event"
                        previousLabel="Anterior" nextLabel="Próximo"></pagination-controls>

                  </div>

               </div>
            </div>
         </div>
      </div>
   </div>

</section>